body{
	background:#DDDDDD;
}
#container{	
	background-image: url('img/bg.jpg');
	background-size: cover;
    /*border:1px #666 dashed;*/
    width:910px;
    height:1000px;
    margin:0 auto;
}
#self {
	text-align: center;
}
#git{
	margin-left: 250px;
	font-size: 24px;
	font-weight: bold;
}
#introduction{
	margin-left: 250px;
	font-size: 24px;
	font-weight: bold;
}
img {
	margin-top: 10px;
}
h1 {
	font-weight: bold;
	color:black;
}